<footer class="footer-color" id="footer">

<div class="footer">
    <div class="footer div1">
    <a class="footer-padd">©  2020 | All Rights Reserved | Developed with</a><svg class="svg-icon" width="14" height="12"><use href="/src/svg/heart.svg#heart"></use></svg><div class="footer-span"><div class="foot-text"> by </div><a class="foot-link" href="#">GoIT Students</href></div>
    </div>
    <div class="footer div2">
        <a class="footer-padd">©  2020 | All Rights Reserved |</a> <div class="foot-tel"><div> Developed with </div><svg class="svg-icon" width="14" height="12"><use href="/src/svg/heart.svg#heart"></use></svg><div class="foot-text"> by </div><a class="foot-link" href="#">GoIT Students</href></div>
    </div>
</div>
</footer>